.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 0px;
  bottom: 0;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 700px;
  padding: 30px;
}

.about-image {
  width: 40%;
  text-align: center;
  height: 300px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.about-text {
  max-width: 60%;
  font-size: 1rem;
  padding: 0 50px;
  font-family: 'Shantell Sans', cursive;
}

.about-text h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Marck Script', cursive;
  /* color: rgb(8, 1, 82); */
  color: rgb(255, 208, 0);
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  color: rgb(2, 2, 168);
}

.sunflower {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(https://i.ibb.co/54ywgvL/png-transparent-common-sunflower-daisy-family-sunflower-seed-cut-flowers-sunflower-leaf-photography.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sunflower-topright {
  top: 100px;
  right: 0;
  transform: rotate(-45deg) translateX(60%);
}

.sunflower-bottomleft {
  bottom: 30px;
  left: 0;
  z-index: 20;
  transform: rotate(110deg) translateY(40%) translateX(30%);
}

@media only screen and (max-width: 900px) {
  .about-page {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  }

  .about-image {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: top right;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .about-text {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-text p {
    font-size: 14px;
    line-height: 1.1;
    text-align: justify;
    max-height: 50%;
    margin: 0 auto;
  }
  .sunflower-bottomleft {
    display: none;
  }
}
