.note-preview {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
}

.note-preview .title {
  color: black;
  text-align: center;
  text-decoration: underline;
  height: 100%;
  width: 100%;
}

.txt {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.note-preview .text {
  line-height: 2rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: rgb(147, 146, 146, 0.2);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
/* 
.note-img {
  height:100px;
  padding:20px;
} */

.note-todo {
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.note-txt {

}

.todo-title {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
  text-decoration: underline;
}

.todos-list {
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Gochi Hand', cursive;
}

.todo {
  margin: 0 0 0.25rem;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.delete-note-btn {
  background-color: coral;
}

.control-btns {
  margin-block-start: auto;
  display: flex;
}

.color-picker {
  display: none;
}

.note-img {
  cursor: pointer;
}

.note-video iframe {
  height: 100%;
  width: 100%;
}

.color-picker-cmp {
  display: inline-block;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(146, 148, 151, 0.2);
  border-radius: 23px;
}
.colors > div {
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  cursor: pointer;
}
