.book-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .book-edit h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #1a1a1a;
  }
  
  .book-edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .book-edit input[type="text"],
  input[type="number"] {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color:rgba(44, 42, 42, 0.7);
  }
  
 .book-edit button {
    margin: 2rem 0;
    padding: 1rem 2rem;
    background-color: #0077b6;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .book-edit button:hover {
    background-color: #023e8a;
    cursor: pointer;
  }