.email-list-main {
    width: 100%;
    overflow: auto;
    display: grid;
    flex-direction: column;
    list-style-type: none;
    margin-top: 60px;
}

.email-list-main ul {
    width: 90%;
    margin-left: 50px;
    list-style: none;
}

.email-list-main li {
    list-style: none;
    padding: 3px;
    box-shadow: 1px 1px 1px rgba(165, 161, 161, 0.5);
    color: black;
}

.email-list-main li:hover {
    box-shadow: 1px 1px 5px rgba(97, 96, 96, 0.5);
}

