.email-details-container{
    display: grid;
    grid-template-areas:   
    "arrow subject"
    "username from"
    "body body";
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 2em;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    font-family: Verdana;
    width: 100%;
    height: 90%;
    margin-top: 40px;
    border-radius: 15px;
    gap: 30px;
    align-content: start;
}

.email-details-subject{
    grid-area: subject;
    margin: 0;
    font-size: 30px;
}

.email-details-username{
    grid-area: username;
    font-size: larger;
}

.email-details-from{
    grid-area: from;
    font-size: larger;
}

.email-details-body{
    grid-area: body;
}

.email-details-arrow-btn{
    width: fit-content;
    grid-area: arrow;
    margin-inline-start: auto; 
    margin-inline-end: auto; 
    height: fit-content;
    border: none;
    background-color: white;

}